.article-card .article-img {
    width: 100%;
    /* height: 60%; */
    object-fit: cover;
    border-radius: 0;
}

.article-card-body {
    padding: 0;
}

.read-article-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.article-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.article-card-subtitle p {
    font-size: 0.6rem;
    margin-bottom: 2px;
}

.article-card-author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
}

.article-card-date {
    color: rgb(165, 165, 165);
    font-style: italic;
    font-weight:400;
    margin-top: 2px;
}



.article-card {
    /* height: 65vh; */
    /* min-width: 300px; */
    background-color: rgb(237, 236, 236);
}

.article-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.article-card-footer p {
    margin: 0;
}

.article-title {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 12px;
    padding: 0px 10px;
}

.article-card-topic {
    text-decoration: none;
    color: rgb(100, 98, 122);
    height: 8px;
    font-size: 0.6rem;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


@media screen and (min-width: 575px) {
    .article-title {
        font-size: 1.2rem;
        height: 6.5rem;
        margin-bottom: 0px;
    }
    .article-card .article-img {
        height: 270px;
    }
}

@media screen and (min-width: 770px) {
    .article-title {
        height: 5.5rem;   
    }
}
