.article-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 250px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.article-card h3 {
    margin-bottom: 0;
    height: 70px;
}

.article-card p {
    margin: 0;
}