.comment-list {
    background-color: rgb(213, 189, 157);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    height: auto;
}

.comment-card {
    height: 33vh;
}

.card-date {
    text-align: left;
}

@media screen and (min-width: 601px) {
    .card-text-body {
      font-size: 0.8rem;
    }
    .one-comment-card {
        height: 38vh;
    }
}

p.card-date {
    font-size: 0.7rem;
    padding: 10px;
    margin: 0;
}


/* Form */

.form-button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.form-comment-container {
    width: 75%;
    padding-left: 20%;
    margin-top: 40px;
}
