.comment-list ul {
    background-color: rgb(213, 189, 157);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 250px;
    height: 250px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.comment-card #body {
    margin: 0;
    height: 150px;
}

.comment-card #date {
    margin: 0;
    margin-bottom: 40px;
    font-size: 12px;
}

.comment-card #author {
    margin: 0;
}