
.single-article-container {
    display: flex;
    justify-content: center;
}

.single-article-card {
    background-color: rgb(223, 223, 221);
}

.single-card-img {
    width: 55%;
    height: 13em;
    float: right;
    margin-left: 1.6em;
    margin-bottom: 1.3em;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}


.single-card-footer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.single-card-footer button {
    color: black;
    margin-left: 10px;
}

.single-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-card-author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.single-card-subtitle p {
    font-size: 0.8rem;
    margin-bottom: 0;
}


.single-card-topic {
    text-decoration: none;
    color: rgb(100, 98, 122);
    margin-bottom: 5px;
    height: 1rem;
    font-size: 0.8rem;
}

.single-card-title {
    font-size: 10rem;
}

.single-card-body {
    font-size: 1rem;
    text-align: justify;
}

.single-card-date {
    color: rgb(165, 165, 165);
    font-style: italic;
    font-weight:400;
    margin-top: 5px;
}